.formContainer{
padding-left: 30;
padding-right: 30;

}

.formContainer fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
    -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}

.formContainer legend {
  border: solid 1px black;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 6px;
  font-size: 120%;
  text-align: center;

}

.react-rater a.is-active {
color: #fc6;
}
.react-rater a.will-be-active {

color: #ffdd99;
}
